{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


  <nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
      <a href="{% url 'index' %}" class="brand-logo"><i class="material-icons">cloud</i>Fans</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="{% url 'show-notifications' %}"><i class="material-icons left">notifications</i>Notifications<span class="new badge">{{ count_notifications }}</span></a></li>
        <li><a href="{% url 'newpost' %}"><i class="material-icons left">add_box</i>Post</a></li>
        <li><a href="{% url 'newtier' %}"><i class="material-icons left">add_box</i>New tier</a></li>
        <li><a href="{% url 'inbox' %}"><i class="material-icons left">message</i>Messages</a></li>
        <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons left">person</i>Profile</a></li>
      </ul>
    </div>
  </nav>



  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        {% if nav_profile.banner %}
          <img src="{{ nav_profile.banner.url }}">
        {% else %}
          <img src="{% static 'img/nobanner.jpg' %}">
        {% endif %}
      </div>
      <a href="#user">
      {% if nav_profile.picture %}
        <img src="{{ nav_profile.picture.url }}" class="circle responsive-img">
      {% else %}
        <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
      {% endif %} 
      </a>
      <a href="#name"><span class="white-text name">{{ nav_profile.user.first_name }} {{ nav_profile.user.last_name }}</span></a>
      <a href="#email"><span class="white-text email">{{ nav_profile.user.email }}</span></a>
    </div></li>
    <li><a href="{% url 'myfans' %}"><i class="material-icons">star</i>{{ fans }}     Fans</a></li>
    <li><a href="{% url 'myfollows' %}"><i class="material-icons">people</i>{{ follows }}     Following</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Me</a></li>
    <li><a href="{% url 'profile' nav_profile.user.username %}"><i class="material-icons">person</i>My profile</a></li>
    <li><a href="{% url 'bookmarks' %}"><i class="material-icons">bookmarks</i>Bookmarks</a></li>
    <li><a href="{% url 'show-my-lists' %}"><i class="material-icons">list</i>Lists</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Payments</a></li>
    <li><a href="#!"><i class="material-icons">credit_card</i>Your cards</a></li>
    <li><a href="#!"><i class="material-icons">account_balance</i>Your Bank</a></li>
    <li><div class="divider"></div></li>
    <li><a href="{% url 'logout' %}"><i class="material-icons">power_off</i>Log out</a></li>
  </ul>


<div class="container">
  <div class="row">

    {% block banner %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
  </div>
</div>


    {% block icons %}
    {% endblock %}

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  {% block javascript %}
  {% endblock %}

  </body>
</html>
