{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="divider"></div>
<div class="section">
  <h5>My favorite posts</h5>
  <p>Posts saved</p>
</div>
<div class="divider"></div>

{% for post in bookmark_data %}
    <div class="col s12 m4">
      <div class="card">

        <div class="card-image">
        {% if post.content.first.file.name|slice:"-3:" == 'jpg' %}
          <a href="{{ post.get_absolute_url }}"><img src="{{ post.content.first.file.url }}"></a>
          <span class="card-title"><b>{{ post.title }}</b></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
        {% else %}
        <div class="video-container">
          <video class="responsive-video" controls="controls" preload="metadata">
            <source src="{{ post.content.first.file.url }}#t=0.5" type="video/mp4">
          </video>
        </div>
        {% endif %}
        </div>

        <div class="card-content">
          {{ post.caption }}
          <p><a href="{{ post.get_absolute_url }}">Click to see Full post</a></p>
        </div>

        <div class="card-action">
          <div class="row">
            <div class="col s2">
              {% if post.user.profile.picture %}
                <img src="{{ post.user.profile.picture.url }}" class="circle responsive-img">
              {% else %}
                <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
              {% endif %}              
            </div>
            <div class="col s10">
              <h6><b>{{ post.user.first_name }} {{ post.user.last_name }}</b></h6>
              <span>Published on: <b>{{ post.posted }}</b></span>
            </div>
          </div>          
        </div>

        <div class="card-action">
          <a href="{% url 'postlike' post.id %}"><i class="material-icons left">thumb_up</i>{{ stream.post.likes_count }} Likes</a>
          <a href="#"><i class="material-icons">favorite</i> {{ stream.post.favorites_count }} Favorites</a>
          <a href="#"><i class="material-icons">comment</i> {{ stream.post.comments_count }} Comments</a>
        </div>

      </div>
    </div>
    {% endfor %}

    <div class="col s12 m12 center-align">
        {% if bookmark_data.has_previous %}
          <a href="?page={{ bookmark_data.previous_page_number }}" class="waves-effect waves-light btn"><i class="material-icons right">arrow_back</i>Back</a>
        {% endif %}
    
        {% if bookmark_data.has_next %}
          <a href="?page={{ bookmark_data.next_page_number }}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Load more</a>
        {% endif %}
      </div>

{% endblock %}