{% extends 'base.html' %}

{% block content %}

<div class="col s12 offset-s3">
    <div class="col s12 m6">
        <div class="card">
            <form method="post" action="" role="form" class="col s12">
                <h4>New Tier</h4>
                {% csrf_token %}
                <div class="input-field col s12">
                    <i class="material-icons prefix">attach_money</i>
                    {{ form.price }}
                    <label for="price">Price</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    {{ form.description }}
                    <label for="description">Description</label>
                </div>
                <div class="input-field col s12>"></div>
                <label>
                    {{ form.can_message }}
                    <span>Can this fan tier message you?</span>
                </label>
                </div>
                <br>
                <div class="input-field col s12>">
                <button class="btn waves-effect waves-light" type="submit" name="action">Create
                    <i class="material-icons right">add</i>
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}