{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="col s12 m12">
    
    {% if visible == False %}
      <div class="center-align">
        <i class="material-icons large grey-text">lock</i>
        <br>
        <h3>No available</h3>
        <h4 class="card-title grey-text text-darken-4">This content is for {{ post.tier }}</h4>
        <h5 class="card-title grey-text text-darken-4">You need to upgrade your subscription</h5>
        <br><br>
        <a class="waves-effect waves-light btn-large"><i class="material-icons left">upgrade</i>Upgrade</a> 
      </div>
    
    {% else %}
      <div class="card">
        <div class="card-image">

          <div class="slider">
            <ul class="slides">
              {% for con in post.content.all %}
              <li>
                {% if con.file.name|slice:"-3:" == 'jpg' %}
                  <img src="{{ con.file.url }}">
                {% else %}
                  <div class="video-container">
                    <video class="responsive-video" controls="controls" preload="metadata">
                      <source src="{{ con.file.url }}#t=0.5" type="video/mp4">
                    </video>
                  </div>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>

          <a href="{% url 'postbookmark' post.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
        </div>

        <ul class="collection">
          <li class="collection-item avatar">
          {% if post.user.profile.picture %}
            <img src="{{ post.user.profile.picture.url }}" class="circle responsive-img">
          {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
          {% endif %}
            <span style="font-size: 20px; font-weight: bold;" class="title">{{ post.user.first_name }} {{ post.user.last_name }}</span>
            <span class="title secondary-content">{{ post.posted }}</span>
            <p>@{{ post.user.username }}</p>
        </li>


        <div class="card-content">

          <h4 class="header">{{ post.title }}</h4>

          {{ post.caption }}

        </div>

       <div class="card-action">
        {% if liked == True %}
          <a class="red-text tooltipped" data-position="bottom" data-tooltip="Remove like" href="{% url 'postlike' post.id %}"><i class="material-icons left">thumb_down</i>{{ post.likes_count }} Likes</a>
        {% else %}
          <a href="{% url 'postlike' post.id %}"><i class="material-icons left">thumb_up</i>{{ post.likes_count }} Likes</a>
        {% endif %}
          <a href="#"><i class="material-icons">favorite</i> {{ post.favorites_count }} Favorites</a>
          <a href="#"><i class="material-icons">comment</i> {{ post.comments_count }} Comments</a>
        </div>

        <div class="card-panel">
          <h5>Comments:</h5>
          <div class="divider"></div>

          <ul class="collection">
            {% for comment in comments %}
              <li class="collection-item avatar">
                {% if comment.user.profile.picture %}
                  <img src="{{ comment.user.profile.picture.url }}" class="circle responsive-img">
                {% else %}
                  <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
                {% endif %}
                <span style="font-weight: bold; font-size: 20px" class="title">{{ comment.user.first_name }} {{ comment.user.last_name }}</span>
                <span class="title secondary-content">{{ comment.date }}</span>
                <p>@{{ comment.user.username }}</p>
                <br>
                  {{ comment.body }}
              </li>
              {% empty %}
                <div class="center-align">
                  <h5>No comments</h5>
                  <span>Be the first one to comment</span>
                </div>
            {% endfor %}
          </ul>

          <div class="row">
            <form method="POST" action="" role="form" class="col s12">
              {% csrf_token %}
              <div class="row">

                <div class="input-field col s12">
                  <i class="material-icons prefix">edit</i>
                  {{ form.body }}
                  <label for="body">Comment</label>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>

                </div>
              </div>
            </form>
          </div>
        </div>

  {% endif %}
      </div>
{% endblock %}